<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.kopanev.calculatore2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/calc_icon"
        android:label="Calculator"
        android:roundIcon="@mipmap/calc_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculatore2"
        >
        <activity
            android:name="app.kopanev.calculatore2.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>